// 주석
// SASS의 한 줄 주석은 CSS로 넘어가지 않음
/* 두 줄 주석은 CSS로 넘어감 */
// 변수. $로 시작 변수를 줄때 규칙은 javascript와 같음

$gray:#c9c9c9;
$white:#fff;
$blue:blue;
$red:red;
$fs30:30px;

h2 {margin-top: 50px; color: $red;}

.btn1 {display: block; width: 200px; height: 50px; line-height: 50px; font-size: $fs30; color: $gray; background: $white; border: 1px solid $gray; text-align: center;
   &:hover {background: $gray; color: $white;}
}
.btn2 {margin-top:10px; display: block; width: 200px; height: 50px; font-size: $fs30; border: 1px solid $red; background: $blue; color: $gray; text-align: center;}

// 선택자
.selector { width: 400px;
   ul {border: 1px solid $blue;
      > li {background: $gray;
         a {text-decoration: none; // 선택할때 & 사용
            &:hover {color: $red;} 
            &.selec2 {font-size: 30px;} // a중에 selec2 클래스가 붙은 선택자
         }
         .selec2 {color: $red;} // li 자식 중 selec2 클래스가 붙은 선택자
         &:last-child {border: 3px dotted yellow;}
      }
   }
}

// mixin

@mixin test {
   width: 100px; height: 100px; border: 1px solid $red;
}
@mixin clear {
   &:after {content: ''; display: block; clear: both;}
}
.mixin_test {@include test();}

.mixin_test2 {display: inline-block; border: 3px solid $blue; @include clear();
   p {float: left; @include test();}
}

@mixin box($w, $h) {
   width: $w; height: $h; border: 2px dotted $red;
}

.mixin_test3 {@include box(200px, 200px);} // 꼭 px단위도 써줘야함


// 문자보간
@mixin bor($position, $wit, $color) {
   border-#{$position}: $wit solid $color;
}

.str_test1 {@include bor(top, 3px, $red);}
.str_test2 {@include bor(left, 10px, $blue);}

// for문

@for $i from 1 to 6 {
   .for_test{
      li.list#{$i}:before {content: '제목#{$i} ';}
   }
}

// each문

@each $ele in sun, rain, lightning {
   .ico_#{$ele} {text-indent: 30px; background: url(images/#{$ele}.png) no-repeat;}
}

$heading : (
   h3:30px,
   h4:20px,
   h5:10px
);

@each $head, $fs in $heading {
   #{$head} {
      font-size: $fs;
   }
}


// extend
%m0auto {width: 1200px; margin: 0 auto;}

.content1 {background: pink; height: 300px;
   .conts1 {@extend %m0auto; background: rgba(0, 0, 0, .4); height: 300px;}
}
.content2 {background: powderblue; height: 500px;
   .conts2 {@extend %m0auto; background: rgba(0, 0, 0, .4); height: 500px;}
}
.content3 {background: royalblue; height: 150px;
   .conts3 {@extend %m0auto; background: rgba(0, 0, 0, .4); height: 150px;}
}

// if else

@mixin position($x, $y) { position: relative; top: $x; left: $y;
   @if $x == 50% & $y == 50% {
      transform: translate(-50%, -50%);
   }@else if $x == 50% {
      transform: translateX(-50%);
   }@else if $y == 50% {
      transform: translateY(-50%);
   }
}

.ifelse {width: 300px; height: 300px; background: #000; @include position(null, 50%);}